*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: rgb(13, 30, 129);
    color:aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    font-size: 15px;
}


.cabecalhoListaItem{
    display: inline-block;
    margin: 5px 30px;
    padding: 8px 80px;
}

.cabecalhoImg{
    width: 20%;
    height: 80px;
}

.sobreImagem{
           width:20%
}

.sobre{
        background-image: linear-gradient(#383D58, #4EBFE9);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
       align-items: center;
       padding: 70px 0;
}

.sobreConteudo{
        width:35%
}

.sobreTitulo{
         padding: 50px 50px;
}


